.navbar {
    color: white;
    font-family: 'Squada One', cursive;
}

.navbar>div>a {
    color: white;
    text-decoration: none;
}

.navbar>div>a:hover {
    color: rgba(86, 77, 96);
}

.nav-item {
    font-size: 1.6em;
    color: white;
}

.navbar-collapse {
    text-align: center;
}


/* navbar stuff ends here */

.background {
    background-image: linear-gradient(to bottom, rgb(66, 31, 109) 60%, rgba(205, 205, 8));
}

.container-color {
    background-color: #090909;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

.about-description {
    padding: 10px 50px 10px 50px;
    color: rgba(255, 255, 255, 0.557);
}

h1 {
    font-family: 'Squada One', cursive;
    font-size: 2.7em;
    color: white;
    text-transform: uppercase;
}

.card-body {
    background-color: rgba(0, 0, 0, 0.907);
    color: rgba(255, 255, 255, 0.756);
}

.card-img-top {
    max-height: 335px;
}

.top-buffer {
    margin-top: 25px;
    margin-bottom: 25px;
}

.about-buffer {
    margin-top: 70px;
    margin-bottom: 70px;
}


/* For Madison Union link */

p>a {
    color: rgb(92, 41, 155);
}


/* For Madison Union link */

p>a:hover {
    color: rgb(92, 41, 155);
}

.footer {
    /* background-color: rgb(26, 26, 26); */
    border-top: 3px groove rgba(205, 205, 8, .3);
}

.social-icons>a {
    cursor: pointer;
}

.social-icons>a:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

ul {
    list-style: none;
    padding-left: 0;
    color: white;
}