.navbar {
    height: 100px;
    margin-bottom: 20px;
    color: white;
    font-family: 'Squada One', cursive;
    font-size: 30px;
}

.navbar>div>a {
    color: white;
    text-decoration: none;
}

.navbar>div>a:hover {
    color: rgba(86, 77, 96);
}

.header-logo {
    padding-top: 20px;
}

.background {
    background-image: linear-gradient(to bottom, rgb(66, 31, 109) 60%, rgba(205, 205, 8));
}

.container-color {
    background-color: #090909;
    box-shadow: 3px 5px 3px 3px rgb(31, 31, 31);
    margin-bottom: 0px;
}

.about-description {
    padding: 10px 50px 10px 50px;
    color: rgba(255, 255, 255, 0.557);
}

h1 {
    font-family: 'Squada One', cursive;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.557);
    text-transform: uppercase;
}


/* .container {
    height: 100vh;
} */

.card-body {
    background-color: rgba(0, 0, 0, 0.907);
    color: rgba(255, 255, 255, 0.756);
}

.card-spacing {
    padding-top: 15px;
    padding-bottom: 10px;
}