.navbar {
    height: 100px;
    margin-bottom: 20px;
    color: white;
    font-family: 'Squada One', cursive;
    font-size: 30px;
}

.navbar>div>a {
    color: white;
    text-decoration: none;
}

.navbar>div>a:hover {
    color: rgba(86, 77, 96);
}

.header-logo {
    padding-top: 20px;
}


/* navbar stuff ends here */

.background {
    background-image: linear-gradient(to bottom, rgb(66, 31, 109) 60%, rgba(205, 205, 8));
}

.container-color {
    background-color: #090909;
    box-shadow: 3px 5px 3px 3px rgb(31, 31, 31);
    margin-bottom: 0px;
    padding-bottom: 20px;
}

.row>iFrame {
    padding-top: 30px;
    padding-bottom: 30px;
}

h1 {
    color: rgba(255, 255, 255, 0.557);
    font-family: 'Squada One', cursive;
}