.navbar {
    color: white;
    font-family: 'Squada One', cursive;
}

.navbar>div>a {
    color: white;
    /* color: rgb(0, 0, 0); */
    text-decoration: none;
}


/* .navbar>div>a:hover {
    color: rgba(255, 255, 255, 0.557);
} */

.nav-item {
    font-size: 1.6em;
    color: white;
}

.navbar-collapse {
    text-align: center;
}

.title {
    color: #ffffff;
    text-align: center;
    font-family: 'Squada One', cursive;
    font-size: 2.7em;
    padding-bottom: 20px;
    margin-top: 1em;
}


/* change to background color */

.background {
    background-image: linear-gradient(to bottom, rgb(66, 31, 109) 60%, rgba(205, 205, 8));
}

.container-color {
    background-color: #090909;
}

.carousel {
    margin-bottom: 20px;
}

.social-icons>a {
    cursor: pointer;
}

.social-icons>a:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

ul {
    list-style: none;
    padding-left: 0;
    color: white;
}

.card-img-top {
    max-height: 335px;
}

label {
    color: white;
}