    .navbar {
        color: white;
        font-family: 'Squada One', cursive;
    }
    
    div>h1 {
        font-family: 'Squada One', cursive;
    }
    
    .container-color {
        background-color: #090909;
        box-shadow: 3px 5px 3px 3px rgb(31, 31, 31);
        margin-bottom: 0px;
        padding-bottom: 20px;
        color: rgba(255, 255, 255, 0.557);
    }
    
    .background {
        background-image: linear-gradient(to bottom, rgb(66, 31, 109) 60%, rgba(205, 205, 8));
    }
    
    .nav-item {
        font-size: 35px;
        color: white;
    }
    
    .nav-item:hover {
        color: rgba(255, 255, 255, 0.557);
    }
    
    p>a {
        color: rgba(205, 205, 8);
    }
    
    p>a:hover {
        color: rgb(66, 31, 109);
    }
    
    .navbar-collapse {
        text-align: center;
    }