.navbar {
    /* height: 100px;
    margin-bottom: 20px;
    color: white; */
    font-family: 'Squada One', cursive;
    /* font-size: 30px; */
}

div>h1 {
    margin: 30px;
}

.container-color {
    background-color: #090909;
    box-shadow: 3px 5px 3px 3px rgb(31, 31, 31);
}

.background {
    background-image: linear-gradient(to bottom, rgb(66, 31, 109) 60%, rgba(205, 205, 8));
}